* {
  border: 0em;
  padding: 0.3em;
  margin: 0.4em;
  border-radius: 0.3em;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}
.button {
  min-width: 2em;
  min-height: 1em;
  line-height: 1em;
  display: inline-block;
  text-align: center;
}
.h {
  font-weight: 900;
}
.warning {
  color: #000;
  background-color: #a4da89;
}
.l1 {
  font-size: 41.803776px;
}
.l2 {
  font-size: 34.836479999999995px;
}
.l3 {
  font-size: 29.0304px;
}
.l4 {
  font-size: 24.192px;
}
.l5 {
  font-size: 16.8px;
}
.l6 {
  font-size: 14px;
}
