
@import "./var"
@import "./color"
@import "./reset"

.header {
    height: 2em;
    line-height: 2em;
}

.warning {
    color: black;
    background-color: #a4da89;
}

.l1 {
    font-size: 2 ** (5 * scale) * base-size px;
}

.l2 {
    font-size: 2 ** (4 * scale) * base-size px;
}

.l3 {
    font-size: 2 ** (3 * scale) * base-size px;
}

.l4 {
    font-size: 2 ** (2 * scale) * base-size px;
}

.l5 {
    font-size: 2 ** (1 * scale) * base-size px;
}

.l6 {
    font-size: 2 ** (0 * scale) * base-size px;
}

input[type=checkbox] {
    display: none;
}

input[type=radio] {
    display: none;
}

input[type=checkbox]+span {
    margin: 0em;
    padding: 0em;
    display: inline-block;
    height: 1em;
    width: 1em;
    border-radius: 4px;
    background-color: #5e5e5e;
}

input[type=checkbox]:checked+span {
    background-color: #409eff;
}

input[type=radio]+span {
    margin: 0em;
    padding: 0em;
    display: inline-block;
    height: 1em;
    width: 1em;
    border-radius: 1em;
    background-color: #5e5e5e;
}

input[type=radio]:checked+span {
    background-color: #409eff;
}

.silver00-bg {
    background-color: silver00;
}

.silver10-bg {
    background-color: silver10;
}

.silver20-bg {
    background-color: silver20;
}

.silver30-bg {
    background-color: silver30;
}

.silver40-bg {
    background-color: silver40;
}

.silver50-bg {
    background-color: silver50;
}

.silver60-bg {
    background-color: silver60;
}

.silver70-bg {
    background-color: silver70;
}

.silver80-bg {
    background-color: silver80;
}

.silver90-bg {
    background-color: silver90;
}

.silver100-bg {
    background-color: silver100;
}

.silver00 {
    color: silver00;
}

.silver10 {
    color: silver10;
}

.silver20 {
    color:silver20;
}

.silver30 {
    color: silver30;
}

.silver40 {
    color: silver40;
}

.silver50 {
    color: silver50;
}

.silver60 {
    color: silver60;
}

.silver70 {
    color: silver70;
}

.silver80 {
    color: silver80;
}

.silver90 {
    color: silver90;
}

.silver100 {
    color: silver100;
}

