
@import './var';
@import './color';
@import './reset';

.header {
    height: 2em;
    line-height: 2em;
}

.warning {
    color: black;
    background-color: #a4da89;
}

.l1 {
    font-size: 2 ** (5 * scale) * base-size px;
}

.l2 {
    font-size: 2 ** (4 * scale) * base-size px;
}

.l3 {
    font-size: 2 ** (3 * scale) * base-size px;
}

.l4 {
    font-size: 2 ** (2 * scale) * base-size px;
}

.l5 {
    font-size: 2 ** (1 * scale) * base-size px;
}

.l6 {
    font-size: 2 ** (0 * scale) * base-size px;
}

.label-input {
    display: inline-block;

    input[type=checkbox], input[type=radio] {
        display: none;
    }

    input+span {
        margin: 0em;
        padding: 0em;
        display: inline-block;
        height: 1em;
        width: 1em;
        transition-duration: input-duration s;
        transition-timing-function: ease;
    }

    input[type=checkbox]+span {
        background-color: #777777;
    }

    input[type=checkbox]:checked+span {
        background-color: #409eff;
    }

    input[type=radio]+span {
        border-radius: 0.5em;
        background-color: #777777;
    }

    input[type=radio]:checked+span {
        background-color: #409eff;
    }
}

.label-input-switch {
    display: inline-block;

    input[type=checkbox], input[type=radio] {
        display: none;
    }

    input+span {
        margin: 0em;
        padding: 0em;
        display: inline-block;
        height: 1em;
        width: 2em;
    }

    input[type=checkbox]+span {
        border-radius: 1em;
        background-color: #777777;
        transition-duration: input-duration s;
    }

    input[type=checkbox]:checked+span {
        background-color: #409eff;
    }

    input[type=checkbox]+span::before {
        content: '';
        background-color: #fff;
        width: 0.8em;
        height: 0.8em;
        margin: 0.1em;
        // width: 1em;
        // height: 1em;
        display: inline-block;
        border-radius: 0.5em;
        transition-duration: input-duration s;
    }

    input[type=checkbox]:checked+span:before {
        transform: translateX(1em);
    }
}

.tabs {
    input, div {
        display: none;
    }

    input[type=radio]+label {
        display: inline-block;
        background-color: #40cc9e;
    }

    input[type=radio]:checked+label {
        background-color: #a4da89;
    }

    #tabs1:checked~#tabs1-content, #tabs2:checked~#tabs2-content, #tabs3:checked~#tabs3-content, #tabs4:checked~#tabs4-content, #tabs5:checked~#tabs5-content, #tabs6:checked~#tabs6-content {
        background-color: #a4da89;
        display: block;
    }
}

.tabs-2 {
    input, div {
        display: none;
    }

    div {
        width: calc(100% - 7em);
    }

    input[type=radio]+label {
        display: inline-block;
        background-color: #40cc9e;
    }

    input[type=radio]:checked+label {
        background-color: #a4da89;
    }

    input[type=radio]:checked+label+div {
        display: block;
        background-color: #a4da89;
        position: absolute;
    }
}

.collapse {
    input, div {
        display: none;
    }

    input[type=checkbox]+label {
        display: block;
        background-color: #40cc9e;
    }

    input[type=checkbox]:checked+label {
        background-color: #a4da89;
    }

    input[type=checkbox]:checked+label+div {
        display: block;
    }
}

.select-check {
    input[type=checkbox] {
        display: none;
    }

    label {
        display: inline-block;

        span {
            margin: 0em;
            padding: 0em;
            display: inline-block;
            height: 1em;
            width: 1em;
            transition-duration: input-duration s;
            transition-timing-function: ease;
        }
    }

    input[type=checkbox]+ label > span {
        border-radius: 0.5em;
        background-color: #777777;
    }

    input[type=checkbox]+ label + ul{
        display: none
        position absolute
    }

    input[type=checkbox]:checked + label >span {
        background-color: #409eff;
    }

    input[type=checkbox]:checked + label + ul {
        display: block
    }

    ul {
        background-color: white
        list-style: none;
        li {
            box-shadow: none
            label {
                display: inline-block;

                input[type=checkbox], input[type=radio] {
                    display: none;
                }

                input+span {
                    margin: 0em;
                    padding: 0em;
                    display: inline-block;
                    height: 1em;
                    width: 1em;
                    transition-duration: input-duration s;
                    transition-timing-function: ease;
                }

                input[type=checkbox]+span {
                    background-color: #777777;
                }

                input[type=checkbox]:checked+span {
                    background-color: #409eff;
                }

                input[type=radio]+span {
                    border-radius: 0.5em;
                    background-color: #777777;
                }

                input[type=radio]:checked+span {
                    background-color: #409eff;
                }
            }
        }
    }
}

.silver00-bg {
    background-color: silver00;
}

.silver10-bg {
    background-color: silver10;
}

.silver20-bg {
    background-color: silver20;
}

.silver30-bg {
    background-color: silver30;
}

.silver40-bg {
    background-color: silver40;
}

.silver50-bg {
    background-color: silver50;
}

.silver60-bg {
    background-color: silver60;
}

.silver70-bg {
    background-color: silver70;
}

.silver80-bg {
    background-color: silver80;
}

.silver90-bg {
    background-color: silver90;
}

.silver100-bg {
    background-color: silver100;
}

.silver00 {
    color: silver00;
}

.silver10 {
    color: silver10;
}

.silver20 {
    color: silver20;
}

.silver30 {
    color: silver30;
}

.silver40 {
    color: silver40;
}

.silver50 {
    color: silver50;
}

.silver60 {
    color: silver60;
}

.silver70 {
    color: silver70;
}

.silver80 {
    color: silver80;
}

.silver90 {
    color: silver90;
}

.silver100 {
    color: silver100;
}
