
@import './var';
@import './color'

* {
    border: 0em;
    padding: 0.4em;
    margin: 0.4em;
    border-radius: 0.3em;
    font-size: base-size px;
    line-height: 1em;
    font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
    box-shadow: 0em 0em 0.3em 0em rgba(0, 0, 0, 0.2);
}

html, span {
    margin: 0em;
    padding: 0em;
    box-shadow: none;
}

span {
    font-size: inherit;
    vertical-align: bottom;
    box-shadow: none;
}

body {
    margin: 0em;
}

div {
    margin: 0.6em;
}

button {
    display: inline-block;
    text-align: center;
}

p {
    line-height: 1.4em;
}

p, h1, h2, h3, h4, h5, h6 {
    box-shadow: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0.5em;
    font-weight: 900;
}

h1 {
    font-size: 2 ** (5 * scale) * base-size * 1.1 px;
}

h2 {
    font-size: 2 ** (4 * scale) * base-size * 1.1 px;
}

h3 {
    font-size: 2 ** (3 * scale) * base-size * 1.1 px;
}

h4 {
    font-size: 2 ** (2 * scale) * base-size * 1.1 px;
}

h5 {
    font-size: 2 ** (1 * scale) * base-size * 1.1 px;
}

h6 {
    font-size: 2 ** (0 * scale) * base-size * 1.1 px;
}